.showItem {
  margin-right: 1.505rem;
  position: relative;
  height: 12rem;
  width: 10rem;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0, 0.2);
  color: rgb(9, 5, 236);
  font-weight: bold;
  text-shadow: rgb(0, 0, 0, 0.2);
}

.imageContain:hover {
  filter: blur(3px);
}

.showTitle {
  position: absolute;
  top: 8rem;
  left: 1rem;
  display: none;
}

.label {
  position: absolute;
  top: 0;
  left: 2.5rem;
}

.weekday {
  position: absolute;
  top: 5rem;
  left: 3.5rem;
}

.showItem:hover {
  transform: scale(1.02);
  transition: all 0.3s;
}

.showItem:hover .showTitle {
  display: block;
  color: red;
}

@media screen and (max-width: 830px) {
  .showItem {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;

    height: 6rem;
    width: 6rem;
  }

  .label {
    display: none;
  }

  .weekday {
    position: absolute;
    top: 0;
    left: 2.5rem;
  }
}
