.showItem {
  margin-right: 1.505rem;
  position: relative;
  height: 14rem;
  width: 11rem;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0, 0.2);
  color: rgb(1, 1, 14);
  font-weight: bold;
}

.showOrder1 {
  order: 1;
}

.showOrder2 {
  order: 2;
}

.showOrder3 {
  order: 3;
}

.showOrder4 {
  order: 4;
}

.showOrder5 {
  order: 5;
}

.showOrder6 {
  order: 6;
}

.showOrder7 {
  order: 7;
}

.label {
  position: absolute;
  top: 0;
  left: 2rem;
}

.weekday {
  position: absolute;
  top: 6rem;
  left: 4rem;
}

.showItem:hover {
  transform: scale(1.02);
  transition: all 0.3s;
}
